BasedOnStyle: LLVM

AccessModifierOffset: -4
AlignAfterOpenBracket: BlockIndent
AlignConsecutiveAssignments: true
AlignConsecutiveBitFields: true
AlignConsecutiveMacros: true
AllowShortBlocksOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BreakAfterAttributes: Always
BreakBeforeBraces: Attach
BreakConstructorInitializers: AfterColon
ColumnLimit: 120
ContinuationIndentWidth: 4
IncludeBlocks: Regroup
IndentWidth: 4
InsertNewlineAtEOF: true
PackConstructorInitializers: CurrentLine
PenaltyReturnTypeOnItsOwnLine: 100000
ReflowComments: true
SeparateDefinitionBlocks: Always
ShortNamespaceLines: 0
TabWidth: 4
UseTab: Never
